# Server
PORT=8085

# Postgre Prod
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# JWT
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

# ==================== ACTIVE DIRECTORY (LDAP) ====================
LDAP_ENABLED=

# LDAP NON-SSL (PORT 389)
LDAP_URL=

# TLS tidak dipakai di 389
LDAP_TLS_REJECT_UNAUTHORIZED=

# Service Account
LDAP_BIND_DN=CN=Git Developer,OU=Account IT,DC=gyssteel,DC=com
LDAP_BIND_PASSWORD=

# Search
LDAP_SEARCH_BASE=DC=gyssteel,DC=com
LDAP_SEARCH_FILTER=(sAMAccountName={{username}})

# Attributes
LDAP_USERNAME_ATTRIBUTE=
LDAP_MAIL_ATTRIBUTE=
LDAP_DISPLAYNAME_ATTRIBUTE=
LDAP_FIRSTNAME_ATTRIBUTE=
LDAP_LASTNAME_ATTRIBUTE=

